.input {
    display: inline-block;
    margin-left: 130px;

}

.inp-1 {
    margin-left: 50vw;
}

.inputc {
    margin-top: 10px;
    margin-left: 1320px;
    margin-right: 70px;


}


.inputg {

    margin-top: -25px;
    margin-left: 130px;

}


.btn {
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

